<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Admin Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="topnavbar">
    <div class="top">
      <label class="logo">University <br> Management</label>
    </div>
    <header>
      <nav>
        <ul class="nav_link">
          <li><a href="/semester">SEMESTER</a></li>
          <li><a href="course">COURSE</a></li>
          <li><a href="/department">DEPARTMENT</a></li>
          <li><a href="/registration">REGISTRATION</a></li>
          <li><a href="/studentdetail">STUDENT DETAILS</a></li>
          <li><a href="/project">PROJECT & PUBLICATIONS</a></li>
          <li><a href="/ACCOUNT">ACCOUNT</a></li>
          <li><a href="/">LOGOUT</a></li>
        </ul>
      </nav>
      <!-- <a href="#" class="contact"><button>Contact</button></a> -->
    </header>
  </div>