<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Student Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="top">
        <label class="logo">University </label>
        <label class="logo"> Management </label>
    </div>
    <header>
        <nav>
            <ul class="nav_link">
                <li><a href="/enrollcourse">ENROLL FOR COURSE</a></li>
                <li><a href="/sgradecard">GRADE CARD</a></li>
                <li><a href="/myprofile">MY PROFILE</a></li>
                <li><a href="/">LOGOUT</a></li>
            </ul>
        </nav>
    </header>